---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<meta name='view-transition' content='same-origin' />
	</head>
	<body>
		<div id='content'>
			<slot />
		</div>
		<style is:global>
			:root {
				--accent: 124, 58, 237;
				--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
			}
			html {
				font-family: system-ui, sans-serif;
				background-color: #f6f6f6;
			}
			code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
					Bitstream Vera Sans Mono, Courier New, monospace;
			}
		</style>

		<script>
			if (document.startViewTransition) {
				window.navigation.addEventListener('navigate', (event) => {
					const toUrl = new URL(event.destination.url)

					// Página externa ignorar
					if (location.origin !== toUrl.origin) return

					// Navigación en el mismo dominio

					event.intercept({
						async handler() {
							// vamos a cargar la página de destino empleando fetch
							const response = await fetch(toUrl.pathname)
							const text = await response.text()

							// buscar el html empleando regex
							const [, data] = text.match(/<body>([\s\S]*)<\/body>/i)

							// utilizar API de View Transition
							document.startViewTransition(() => {
								document.body.innerHTML = data
								// scroll hacia arriba
								document.documentElement.scrollTop = 0
							})
						}
					})
				})
			}
		</script>
	</body>
</html>
